<div class="container-fluid">
  <h1>Booking availability</h1>

  <div class="calendar">

    <table class="table">
      <thead>
        <% @date_range.each do |day| %>
          <th class="week-heading">
            <span class="week-name"><%= day.strftime("%A") %></span>
            <span class="week-date"><%= day %></span>
          </th>
        <% end %>
      </thead>
      <tbody>
        <tr>
          <% @date_range.each do |day| %>
            <td class="week-day"><%= day %></td>
          <% end %>
        </tr>
    </table>

  </div><!-- /calendar -->
</div>
