<div class="container-fluid">
  <h1>Booking availability</h1>

  <div class="calendar">

    <div class="navigation">
      <%= link_to "Prev", date: @date_range.first - 1.day %>
      <%= link_to "Next", date: @date_range.last + 1.day %>
    </div>

    <table class="table" id="calendar_display">
      <%= render "events/calendar_display", events: @events, date_range: @date_range %>
    </table>

  </div><!-- /calendar -->
</div>

<%= render "events/modal" %>
