<div class="container-fluid">
  <h1>Booking availability</h1>

  <table class="table">
    <thead>
      <th>week</th>
      <th>week</th>
      <th>week</th>
      <th>week</th>
      <th>week</th>
      <th>week</th>
      <th>week</th>
    </thead>
    <tbody>
      <tr>
        <td>day</td>
        <td>day</td>
        <td>day</td>
        <td>day</td>
        <td>day</td>
        <td>day</td>
        <td>day</td>
      </tr>
  </table>
</div>
