<div class="container-fluid">
  <h1>Booking availability</h1>

  <div class="calendar">

    <table class="table">
      <thead>
        <th class="week-heading">week</th>
        <th class="week-heading">week</th>
        <th class="week-heading">week</th>
        <th class="week-heading">week</th>
        <th class="week-heading">week</th>
        <th class="week-heading">week</th>
        <th class="week-heading">week</th>
      </thead>
      <tbody>
        <tr>
          <td class="week-day">day</td>
          <td class="week-day">day</td>
          <td class="week-day">day</td>
          <td class="week-day">day</td>
          <td class="week-day">day</td>
          <td class="week-day">day</td>
          <td class="week-day">day</td>
        </tr>
    </table>

  </div><!-- /calendar -->
</div>
